* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center-x {
  display: flex;
  justify-content: center;
}
.procedure {
  border: 1px solid grey;
  padding: 2rem;
  border-radius: 2;
  box-shadow: 0 0 20px grey;
}

.center-y {
  display: flex;
  align-items: center;
}

.red {
  border: 2px solid red;
}
.green {
  border: 2px solid green;
}
.blue {
  border: 2px solid blue;
}

.gray {
  border: 1px solid #80808063;
}

.devButton {
  opacity: 0.5;
  position: absolute;
  top: 100px;
  width: 50px;
  overflow: hidden;
}

.hover {
  opacity: 0.5;
}

.hover:hover {
  opacity: 1;
}
